@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    background-image: linear-gradient(
      rgba(20, 20, 20, 0.8),
      rgba(80, 80, 80, 0.9)
    ), url(https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711);
    background-size: fill;
    font-family: 'Open Sans', sans-serif;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
    min-width: 800px;
  }
  
  #navbar p {
    color: white;
    font-family: 'Lucida Console', monospace;
    font-size: 20px;
    position: fixed;
    left: 20px;
    white-space: nowrap;
  }
  
  ul {
    display: flex;
    list-style: none;
    font-family: 'Lucida Console', monospace;
    font-size: 20px;
    margin-right: 30px;
    white-space: nowrap;
  }
  
  li a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
  }
  
  li a:hover {
    color: #FF3399;
    font-weight: bold;
  }
  
  #welcome-section {
    padding-top: 100px;
    width: 1500px;
    margin: 0 auto;
    background-image: linear-gradient(
      180deg,
      rgb(30, 30, 30),
      rgba(100, 100, 100, 0.5)
    ), url(https://i.pinimg.com/1200x/db/57/fa/db57fa98572739e7952771d463b73bdf.jpg);
    height: 500px;
    background-size: cover;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0 0 30px 30px; 
    border: 2px solid white;
  
  }
  
  h1, h3, h2 {
    text-align: center;
  }
  
  #welcome-section h3 {
    font-style: italic;
    font-weight: normal;
    color: #FF3399;
    margin-top: -20px;
    padding-bottom: 40px;
  }
  
  #projects {
    width: 1700px;
    background: rgb(30, 30, 30);
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    color: white;
    border: 2px solid white;
    padding-bottom: 50px;
    font-size: 20px;
    border-radius: 0 0 30px 30px;
  }
  
  .project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -20px;
  }
  
  .project-tile img {
    width: 500px;
    height: 275px;
    border-radius: 10px 10px 0 0;
  }
  
  .project-tile {
    background-color: #FF3399;
    border-radius: 12px;
    margin-top: 50px;	
  }
  
  .project-tile a {
    text-decoration: none;
    text-align: center;
    color: white;
  }
  
  .project-tile:hover {
    background-color: #FF3366;
    transition: all 0.5s ease;
    transform: scale(1.07);
  }
  
  #find-me {
    border: 2px solid white;
    border-radius: 0 0 35px 35px;
    color: white;
    width: 500px;
    text-align: center;
    margin: 100px auto;
  }
  
  #find-me h3 {
    border-bottom: 2px solid white;
  }
  
  #profile-link {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 10px; 
  }
  
  #profile-link:hover {
    color: #FF3399;
    transform: scale(1.1); 
    transition: all 0.5s ease;
  }
  
  footer {
    border-top: 2px solid white;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    margin-top: -33px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(30, 30, 30);
  }